/****** General Styles *********/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body {
	background-color: #F6F6F6;
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 25px;
}
section {
	background-color: #FFFFFF;
	padding: 10px 20px;
	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0 rgba(0, 0, 0, 0.19);
}
main, aside {
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}
main {
	width: 70%;
	border-right: 1px solid #F6F6F6;
}

aside {
	width: 29%;
	text-align: right;
}
h1 {
	color: #5079A5;
    font-size: 30px;
	margin: 0px;
    max-width: 70%;
}
ul {
	padding: 0px;
}
li {
	list-style: none;
	position: relative;
	font-size: 12px;
}
a {
	text-decoration: none;
	color: #000000;
	display: inline-block;	
}
p {
	margin: .5em 0;
	font-size: 12px;
}
p > img, a > img {
	width: 10px;
	height: 10px;
	margin: 0px 3px;
}
/****** Navigation Style *********/
.menu > li {
	display: inline-block;
    padding: 4px;
}
.menu > li:hover {
	background-color: #5079A5;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.submenu, .submenu2{
    position: absolute;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px;
	background-color: #5079A5;
	left: -1000px;
    top: -1000px;
    z-index: 1000;
	opacity: 0;
      -o-transition: opacity .45s;
      -ms-transition:  opacity .45s;
      -moz-transition: opacity .45s;
      -webkit-transition: opacity .45s;
      transition: opacity .5s;	
}
.submenu a {
	margin: 5px 8px;
}
.menu > li:hover .submenu, .submenu > li:hover .submenu2{
	left: 0;
    top: 100%;
	opacity: 1;
}
.menu > li:hover a {
	color: #FFFFFF;
}
.submenu  li:hover{
	background-color: #4A658B;
}
.submenu > li:hover .submenu2{
	top: 0px;
	left: 250px;
}
.menu > li:last-child {
	float: right;
	background-color: #FFFFFF;
}
.toggle,
[id^=drop] {
	display: none;
}
input[type=checkbox]{
	display: none;
}
input, button {
	height: 25px;
    position: relative;
}
input {
	background-color: #F6F6F6;
    min-width: 190px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: solid 1px #cbc8c8;
    top: -5px;
}
button {
	border: solid 1px #426489;
    background-color: #5079a5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #FFFFFF;
    top: -6px;
    font-size: 10px;
}
/****** Article/Aside Styles *********/
article img, article section {
	display: inline-block;
	vertical-align: top;
}
article section {
	padding-top: 0px;
	width: 75%;
	box-shadow: none;
}
article > img {
	width: 17%
}
p > img {
	position: relative;
	top: 2px;
}
article a {
	color: #5079A5;
}
article a:hover {
	opacity: .5;
      -o-transition: .45s;
      -ms-transition:  .45s;
      -moz-transition: .45s;
      -webkit-transition: .45s;
      transition: .5s;	
}
.left {
	float: left;
}
.right {
	float: right;
}
hr {
	clear: both;
	border-color: #CCCCCC;
    width: 95%;
    opacity: .1;
}
aside img {
	width: 90%;
}

/* Media Queries
--------------------------------------------- */

@media all and (max-width : 960px) {
/****** General Style *********/
body {
	margin: 0px;
}
h1 {
	font-size: 24px;	
}
section {
	padding: 0px;
}
main {
	margin-left: 10px;
	width: 66%;
}
body > section > hr {
	display: none;
}
/****** Navigation Style *********/
	.toggle + a,
	.menu {
		display: none;
		margin-top: 0px;
	}
	.menu li {
		margin-right: 0;
		padding: 0;
	}
	.toggle {
		display: block;
		background-color: #5079a5;
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: #4A658B;
	}

	[id^=drop]:checked + ul {
		display: block;
		z-index: 100;
		position: static;
	}
	nav ul li {
		display: block;
		width: 100%;
	}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #4A658B;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #5079a5; 
	}

	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
	}

}

@media all and (max-width : 425px) {
	h1 {
		font-size: 18px;
		max-width: 100%;
		text-align: center;
	}
	li {
		font-size: 12px;
	}
	p {
		font-size: 10px;
	}
	main, aside {
		display: block;
		margin: 5px 5px;
		width: 100%;
	}
	aside {
		text-align: center;
	}
	article section {
		width: 97%;
	}
	section > p {
		display: block;
	}
	article > img {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 60%;
	}
	input {
		border-radius: 0px;
		width: 80%;
	}
	button {
		background-color: #426489;
		border-radius: 0px;
		width: 20%;
	}

}